@import 'base/palette';

$lcc-dark-red: #660922;
$header-bg-color: $light-gray;
$header-icon-color: $lcc-dark-red;
$header-text-color: $black;

@import 'themes/indico';

@include header-logo('themes_awesome:awesome_logo_small.png', 50px 35px);

